### data.lacity.org API

In [27]:
#Requesting credentials in case non-token based requests return limited sets

In [28]:
pip install sodapy

Requirement already satisfied: sodapy in /anaconda3/lib/python3.7/site-packages (1.5.3)
Requirement already satisfied: requests>=2.20.0 in /anaconda3/lib/python3.7/site-packages (from sodapy) (2.21.0)
Requirement already satisfied: future>=0.17.1 in /anaconda3/lib/python3.7/site-packages (from sodapy) (0.17.1)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
from sodapy import Socrata
from config import password

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.lacity.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.lacity.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("63jg-8b9z", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,area,area_name,crm_cd,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_desc,cross_street,date_occ,date_rptd,...,premis_desc,rpt_dist_no,status,status_desc,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd
0,13,Newton,900,900,NaN,NaN,VIOLATION OF COURT ORDER,NaN,2010-02-20T00:00:00.000,2010-02-20T00:00:00.000,...,SINGLE FAMILY DWELLING,1385,AA,Adult Arrest,1350,48,H,M,NaN,NaN
1,14,Pacific,740,740,NaN,NaN,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",MANCHESTER AV,2010-09-12T00:00:00.000,2010-09-13T00:00:00.000,...,STREET,1485,IC,Invest Cont,0045,0,W,M,NaN,NaN
2,13,Newton,946,946,NaN,NaN,OTHER MISCELLANEOUS CRIME,NaN,2010-08-09T00:00:00.000,2010-08-09T00:00:00.000,...,ALLEY,1324,IC,Invest Cont,1515,0,H,M,NaN,NaN
3,06,Hollywood,900,900,998,NaN,VIOLATION OF COURT ORDER,HOLLYWOOD BL,2010-01-05T00:00:00.000,2010-01-05T00:00:00.000,...,STREET,0646,IC,Invest Cont,0150,47,W,F,HAND GUN,102
4,01,Central,122,122,NaN,NaN,"RAPE, ATTEMPTED",SAN PEDRO ST,2010-01-02T00:00:00.000,2010-01-03T00:00:00.000,...,ALLEY,0176,IC,Invest Cont,2100,47,H,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400

In [32]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.lacity.org", None)

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.lacity.org",
    app_token="hdI22XaCHRYX4ZbAtX4tMtBMi",
    username="stevensjeffw@gmail.com",
    password=password)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("63jg-8b9z", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

,area,area_name,crm_cd,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_desc,cross_street,date_occ,date_rptd,...,premis_desc,rpt_dist_no,status,status_desc,time_occ,vict_age,vict_descent,vict_sex,weapon_desc,weapon_used_cd
0,13,Newton,900,900,NaN,NaN,VIOLATION OF COURT ORDER,NaN,2010-02-20T00:00:00.000,2010-02-20T00:00:00.000,...,SINGLE FAMILY DWELLING,1385,AA,Adult Arrest,1350,48,H,M,NaN,NaN
1,14,Pacific,740,740,NaN,NaN,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",MANCHESTER AV,2010-09-12T00:00:00.000,2010-09-13T00:00:00.000,...,STREET,1485,IC,Invest Cont,0045,0,W,M,NaN,NaN
2,13,Newton,946,946,NaN,NaN,OTHER MISCELLANEOUS CRIME,NaN,2010-08-09T00:00:00.000,2010-08-09T00:00:00.000,...,ALLEY,1324,IC,Invest Cont,1515,0,H,M,NaN,NaN
3,06,Hollywood,900,900,998,NaN,VIOLATION OF COURT ORDER,HOLLYWOOD BL,2010-01-05T00:00:00.000,2010-01-05T00:00:00.000,...,STREET,0646,IC,Invest Cont,0150,47,W,F,HAND GUN,102
4,01,Central,122,122,NaN,NaN,"RAPE, ATTEMPTED",SAN PEDRO ST,2010-01-02T00:00:00.000,2010-01-03T00:00:00.000,...,ALLEY,0176,IC,Invest Cont,2100,47,H,F,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",400